name: CloudflareWorkerDeploy

on:
  push:
    branches:
      - main
    paths:
      - apps/cloudflare-worker/**
      - yarn.lock
      - .github/workflows/deploy-cloudflare-worker.yaml

  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  packages: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Cache Yarn dependencies
        uses: actions/cache@v5
        with:
          path: |
            .yarn/cache
            .yarn/unplugged
            .yarn/build-state.yml
            .yarn/install-state.gz
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Cache Turborepo
        uses: actions/cache@v5
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Install dependencies
        if: false # Temporarily disabled to work around bug https://github.com/yarnpkg/berry/issues/7047
        run: |
          corepack enable
          yarn set version 4.12.0
          yarn install --immutable

      - name: Temporary workaround for bug https://github.com/yarnpkg/berry/issues/7047
        if: true # Temporarily enabled to work around bug
        run: |
          mv package.json package.json.bak || true
          mv yarn.lock yarn.lock.bak || true
          cd apps/client 
          npm ci
          cd ../../apps/cloudflare-worker
          npm ci
          cd ../../
          mv package.json.bak package.json || true
          mv yarn.lock.bak yarn.lock || true

      - name: Create .env file
        run: |
          echo -n ${{ secrets.AUTH0_AUDIENCE }} | sed -n 's/http.:\/\/\(.*\)\/.*/DOMAIN_NAME=\1\n/p' > .env

          echo "AUTH0_DOMAIN=${{ secrets.AUTH0_DOMAIN }}" >> .env
          echo "AUTH0_CLIENT_ID=${{ secrets.AUTH0_CLIENT_ID }}" >> .env
          echo "AUTH0_CLIENT_SECRET=${{ secrets.AUTH0_CLIENT_SECRET }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_ID=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_ID }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_SECRET=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_SECRET }}" >> .env
          echo "ADMIN_AUTH0_PERMISSION=\"${{ vars.ADMIN_AUTH0_PERMISSION }}\"" >> .env
          echo "AUTHENTICATION_PROVIDER_TYPE=\"${{ vars.AUTHENTICATION_PROVIDER_TYPE }}\"" >> .env
          echo "AUTH0_SCOPE=\"${{ vars.AUTH0_SCOPE }}\"" >> .env
          echo "AUTH0_AUDIENCE=${{ secrets.AUTH0_AUDIENCE }}" >> .env
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> .env
          echo "CORS_ORIGIN=${{ secrets.CORS_ORIGIN }}" >> .env
          echo "READ_PERMISSION=${{ vars.READ_PERMISSION }}" >> .env
          echo "WRITE_PERMISSION=${{ vars.WRITE_PERMISSION }}" >> .env
          echo "ADMIN_PERMISSION=${{ vars.ADMIN_PERMISSION }}" >> .env
          echo "SEARCH_PERMISSION=${{ vars.SEARCH_PERMISSION }}" >> .env
          echo "DB_BACKEND=${{ vars.DB_BACKEND }}" >> .env
          echo "BACKUP_PERMISSION=${{ vars.BACKUP_PERMISSION }}" >> .env
          echo "DB_MAX_IMAGE_SIZE=${{ vars.DB_MAX_IMAGE_SIZE }}" >> .env
          echo "AMAZON_BASE_URL=${{ vars.AMAZON_BASE_URL }}" >> .env
          echo "PAYPAL_TRANSACTION_BASE_URL=${{ secrets.PAYPAL_TRANSACTION_BASE_URL }}" >> .env
          cat .env

      - name: Replace "// vars.*" in wrangler.jsonc with a json string
        run: |
          cp .env apps/cloudflare-worker/.env
          cd apps/cloudflare-worker
          cp wrangler.jsonc wrangler.jsonc.bak
          set -a && source .env && set +a 
          cat .env
          cat wrangler.jsonc.bak | sed 's|// "vars".*.|,"vars": {  "PAYPAL_TRANSACTION_BASE_URL": "'"${PAYPAL_TRANSACTION_BASE_URL}"'", "AMAZON_BASE_URL": "'"${AMAZON_BASE_URL}"'", "AUTH0_DOMAIN": "'"${AUTH0_DOMAIN}"'", "AUTH0_CLIENT_ID": "'"${AUTH0_CLIENT_ID}"'","AUTH0_CLIENT_SECRET": "'"${AUTH0_CLIENT_SECRET}"'","AUTH0_MANAGEMENT_API_CLIENT_ID": "'"${AUTH0_MANAGEMENT_API_CLIENT_ID}"'","AUTH0_MANAGEMENT_API_CLIENT_SECRET": "'"${AUTH0_MANAGEMENT_API_CLIENT_SECRET}"'","AUTH0_SCOPE": "'"${AUTH0_SCOPE}"'", "AUTH0_AUDIENCE": "'"${AUTH0_AUDIENCE}"'", "API_BASE_URL": "'"${API_BASE_URL}"'", "CORS_ORIGIN": "'"${CORS_ORIGIN}"'", "DB_BACKEND": "'"${DB_BACKEND}"'", "DB_MAX_IMAGE_SIZE": "'"${DB_MAX_IMAGE_SIZE}"'", "BACKUP_PERMISSION": "'"${BACKUP_PERMISSION}"'", "READ_PERMISSION": "'"${READ_PERMISSION}"'", "WRITE_PERMISSION": "'"${WRITE_PERMISSION}"'", "ADMIN_PERMISSION": "'"${ADMIN_PERMISSION}"'", "SEARCH_PERMISSION": "'"${SEARCH_PERMISSION}"'","ADMIN_AUTH0_PERMISSION": "'"${ADMIN_AUTH0_PERMISSION}"'", "STATISTICS_LIMIT": "'"${STATISTICS_LIMIT}"'" }|' > wrangler.jsonc.2
          cat wrangler.jsonc.2 | sed 's|// "routes".*.|,"routes": [{ "pattern": "'"${DOMAIN_NAME}"'", "custom_domain": true }]|'  > wrangler.jsonc
          cat wrangler.jsonc
      - name: Deploy
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          workingDirectory: apps/cloudflare-worker
          vars: |
            AUTHENTICATION_PROVIDER_TYPE
            AUTH0_DOMAIN
            AUTH0_CLIENT_ID
            AUTH0_CLIENT_SECRET
            AUTH0_MANAGEMENT_API_CLIENT_ID
            AUTH0_MANAGEMENT_API_CLIENT_SECRET
            AUTH0_SCOPE
            AUTH0_AUDIENCE
            API_BASE_URL
            CORS_ORIGIN
            READ_PERMISSION
            WRITE_PERMISSION
            ADMIN_PERMISSION
            SEARCH_PERMISSION
            ADMIN_AUTH0_PERMISSION
            DB_BACKEND
            BACKUP_PERMISSION
            DB_MAX_IMAGE_SIZE
            AMAZON_BASE_URL
            PAYPAL_TRANSACTION_BASE_URL
            STATISTICS_LIMIT
        env:
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
          AUTH0_MANAGEMENT_API_CLIENT_ID: ${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_ID }}
          AUTH0_MANAGEMENT_API_CLIENT_SECRET: ${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_SECRET }}
          AUTH0_SCOPE: ${{ vars.AUTH0_SCOPE }}
          AUTHENTICATION_PROVIDER_TYPE: ${{ vars.AUTHENTICATION_PROVIDER_TYPE }}
          AUTH0_AUDIENCE: ${{ secrets.AUTH0_AUDIENCE }}
          API_BASE_URL: ${{ secrets.API_BASE_URL }}
          CORS_ORIGIN: ${{ secrets.CORS_ORIGIN }}
          READ_PERMISSION: ${{ vars.READ_PERMISSION }}
          WRITE_PERMISSION: ${{ vars.WRITE_PERMISSION }}
          ADMIN_PERMISSION: ${{ vars.ADMIN_PERMISSION }}
          SEARCH_PERMISSION: ${{ vars.SEARCH_PERMISSION }}
          ADMIN_AUTH0_PERMISSION: ${{ vars.ADMIN_AUTH0_PERMISSION }}
          DB_BACKEND: ${{ vars.DB_BACKEND }}
          BACKUP_PERMISSION: ${{ vars.BACKUP_PERMISSION }}
          DB_MAX_IMAGE_SIZE: ${{ vars.DB_MAX_IMAGE_SIZE }}
          AMAZON_BASE_URL: ${{ vars.AMAZON_BASE_URL }}
          PAYPAL_TRANSACTION_BASE_URL: ${{ secrets.PAYPAL_TRANSACTION_BASE_URL }}
          STATISTICS_LIMIT: ${{ vars.STATISTICS_LIMIT }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
