name: GHRelease

on:
  push:
    branches:
      - main
    paths:
      - apps/client/**
      - .github/workflows/pages.yaml

  #   release:
  #     types: [published]
  #   schedule:
  #     - cron: '0 0 * * 0' # every Sunday at midnight
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  packages: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"

      - name: Install dependencies
        if: false # Temporarily disabled to work around bug
        run: |
          corepack enable
          yarn set version 4.12.0
          yarn install --immutable

      - name: Temporary workaround for bug https://github.com/yarnpkg/berry/issues/7047
        if: true # Temporarily enabled to work around bug
        run: |
          mv package.json package.json.bak || true
          mv yarn.lock yarn.lock.bak || true
          cd apps/client 
          npm install
          cd ../../apps/cloudflare-worker
          npm install
          cd ../../
          mv package.json.bak package.json || true
          mv yarn.lock.bak yarn.lock || true

      - name: Create openapi.json file
        run: |
          cd apps/client
          yarn openapi

      - name: Build project
        # You can change the base path to your repository name
        run: |
          cd apps/client
          export AUTH0_DOMAIN="${{ secrets.AUTH0_DOMAIN }}"
          export AUTH0_CLIENT_ID="${{ secrets.AUTH0_CLIENT_ID }}"
          export AUTH0_SCOPE="${{ vars.AUTH0_SCOPE }}"
          export AUTH0_AUDIENCE="${{ secrets.AUTH0_AUDIENCE }}"
          export API_BASE_URL="${{ secrets.API_BASE_URL }}"
          export CORS_ORIGIN="${{ secrets.CORS_ORIGIN }}"
          export READ_PERMISSION="${{ vars.READ_PERMISSION }}"
          export WRITE_PERMISSION="${{ vars.WRITE_PERMISSION }}"
          export ADMIN_PERMISSION="${{ vars.ADMIN_PERMISSION }}"
          export BACKUP_PERMISSION="${{ vars.BACKUP_PERMISSION }}"
          export DB_MAX_IMAGE_SIZE="${{ vars.DB_MAX_IMAGE_SIZE }}"
          export SEARCH_PERMISSION="${{ vars.SEARCH_PERMISSION }}"
          export AMAZON_BASE_URL="${{ vars.AMAZON_BASE_URL }}"
          export PAYPAL_TRANSACTION_BASE_URL="${{ secrets.PAYPAL_TRANSACTION_BASE_URL }}"
          npx vite build --base=/${{ github.event.repository.name }}

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          # Upload docs directory
          path: "apps/client/dist"

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
