name: GHRelease

on:
  push:
    branches:
      - main
    paths:
      - apps/client/**
      - .github/workflows/pages.yaml

  #   release:
  #     types: [published]
  #   schedule:
  #     - cron: '0 0 * * 0' # every Sunday at midnight
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write
  packages: write
  attestations: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          
      - name: Create .env file
        run: |
          echo -n ${{ secrets.AUTH0_AUDIENCE }} | sed -n 's/http.:\/\/\(.*\)\/.*/DOMAIN_NAME=\1\n/p' > .env

          echo "AUTH0_DOMAIN=${{ secrets.AUTH0_DOMAIN }}" >> .env
          echo "AUTH0_CLIENT_ID=${{ secrets.AUTH0_CLIENT_ID }}" >> .env
          echo "AUTH0_CLIENT_SECRET=${{ secrets.AUTH0_CLIENT_SECRET }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_ID=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_ID }}" >> .env
          echo "AUTH0_MANAGEMENT_CLIENT_SECRET=${{ secrets.AUTH0_MANAGEMENT_API_CLIENT_SECRET }}" >> .env
          echo "ADMIN_AUTH0_PERMISSION=\"${{ vars.ADMIN_AUTH0_PERMISSION }}\"" >> .env
          echo "AUTHENTICATION_PROVIDER_TYPE=\"${{ vars.AUTHENTICATION_PROVIDER_TYPE }}\"" >> .env
          echo "AUTH0_SCOPE=\"${{ vars.AUTH0_SCOPE }}\"" >> .env
          echo "AUTH0_AUDIENCE=${{ secrets.AUTH0_AUDIENCE }}" >> .env
          echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> .env
          echo "CORS_ORIGIN=${{ secrets.CORS_ORIGIN }}" >> .env
          echo "READ_PERMISSION=${{ vars.READ_PERMISSION }}" >> .env
          echo "WRITE_PERMISSION=${{ vars.WRITE_PERMISSION }}" >> .env
          echo "ADMIN_PERMISSION=${{ vars.ADMIN_PERMISSION }}" >> .env
          echo "SEARCH_PERMISSION=${{ vars.SEARCH_PERMISSION }}" >> .env
          echo "DB_BACKEND=${{ vars.DB_BACKEND }}" >> .env
          echo "BACKUP_PERMISSION=${{ vars.BACKUP_PERMISSION }}" >> .env
          echo "DB_MAX_IMAGE_SIZE=${{ vars.DB_MAX_IMAGE_SIZE }}" >> .env
          echo "AMAZON_BASE_URL=${{ vars.AMAZON_BASE_URL }}" >> .env
          echo "PAYPAL_TRANSACTION_BASE_URL=${{ secrets.PAYPAL_TRANSACTION_BASE_URL }}" >> .env
          cat .env

      - name: Install dependencies
        if: true # Temporarily disabled to work around bug
        run: |
          corepack enable
          yarn set version 4.2.2
          yarn install --immutable

      - name: Temporary workaround for bug https://github.com/yarnpkg/berry/issues/7047
        if: true # Temporarily enabled to work around bug
        shell: bash
        run: |
          ./build-reproductible-dev.sh
          
      - name: Create openapi.json file
        run: |
          cd apps/client
          # temporary workaround with yarn bug
          yarn openapi

      - name: Build with yarn
        run: |
          yarn build:env -- --base=/${{ github.event.repository.name }}
          # check if the build output directory exists
          if [ -d "dist" ]; then
            echo "Build succeeded and dist directory exists."
          else
            echo "Build failed or dist directory does not exist."
            exit 1
          fi
          # check if the base url is correctly set in the built index.html and the javascript files
          if grep -q "base=\"/${{ github.event.repository.name }}\"" apps/client/dist/index.html && grep -q "base=\"/${{ github.event.repository.name }}\"" apps/client/dist/assets/*.js; then
            echo "Base URL is correctly set in the built files."
          else
            echo "Base URL is not correctly set in the built files."
            exit 1
          fi

      - name: Upload pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          # Upload docs directory
          path: "apps/client/dist"

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
